# Machine Learning Portfolio 3

|Name|Github|Kaggle|
|----|------|------|
|Henry Lau|HenryLau08|Henry Lau|
|Mohamed Belaachir|mobelaachir|Mo Belaachir|
|Jayden Debi-Tewari|Jaydendt1|jaydendt123|
|Quincy Soerohardjo|quincysoerohardjo2002|Quincy Soerohardjo|
|Mattias Aareleid|mattyonaize|Mattias Aareleid|

## Table of Contents
- [Data Overview](#data-overview)
- [Exploratory Data Analysis](#exploratory-data-analysis)
- [Feature Engineering](#feature-engineering)
- [Modeling](#modeling)
    
- [Results](#results)
    - [Overview](#overview)
    - [Scores](#scores)
- [Conclusion & Advice](#conclusion--advice)
- [Sources](#sources)

In [ ]:
import os
import warnings
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score



from sklearn.metrics import accuracy_score

pd.set_option('display.max_columns', None)

## Data Overview

In [ ]:
labels_new = pd.read_csv('labels_new.csv')
sample_submission = pd.read_csv('sample_submission.csv')

print("labeled data")
display(labels_new.head(10))
print()
print("sample submission voor kaggle")
display(sample_submission.head(10))

labeled data

     filename      genre
0  m00248.wav      metal
1  m00230.wav    country
2  m00637.wav     hiphop
3  m00627.wav      metal
4  m00138.wav     reggae
5  m00192.wav  classical
6  m00429.wav     hiphop
7  m00623.wav     reggae
8  m00002.wav       jazz
9  m00039.wav     reggae

sample submission voor kaggle

              filename      genre
0      metal.00032.wav  classical
1        pop.00023.wav      blues
2  classical.00076.wav      blues
3  classical.00021.wav       rock
4      metal.00052.wav  classical
5  classical.00040.wav     reggae
6        pop.00097.wav     hiphop
7  classical.00005.wav        pop
8  classical.00056.wav        pop
9      metal.00073.wav  classical

## Exploratory Data Analysis

## Feature Engineering

## Modeling

## Results

## Conclusion & Advice

## Sources