In [1]:
# Libraries
import numpy as np
import pandas as pd

In [9]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

### Train data

In [10]:
display(train.head())

,date_hour,holiday,weathersit,temp,atemp,hum,windspeed,cnt
0,2011-01-01 00:00:00,0,1,0.24,0.2879,0.81,0.0,16
1,2011-01-01 01:00:00,0,1,0.22,0.2727,0.80,0.0,40
2,2011-01-01 02:00:00,0,1,0.22,0.2727,0.80,0.0,32
3,2011-01-01 03:00:00,0,1,0.24,0.2879,0.75,0.0,13
4,2011-01-01 04:00:00,0,1,0.24,0.2879,0.75,0.0,1

### Test data

In [11]:
display(test.head())

             date_hour  holiday  weathersit  temp   atemp   hum  windspeed
0  2012-12-01 00:00:00        0           1  0.26  0.3030  0.81     0.0000
1  2012-12-01 01:00:00        0           1  0.26  0.3030  0.81     0.0000
2  2012-12-01 02:00:00        0           2  0.26  0.3030  0.81     0.0000
3  2012-12-01 03:00:00        0           2  0.26  0.2727  0.81     0.1343
4  2012-12-01 04:00:00        0           1  0.26  0.2879  0.81     0.0896

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16637 entries, 0 to 16636
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date_hour   16637 non-null  object
 1   holiday     16637 non-null  int64
 2   weathersit  16637 non-null  int64
 3   temp        16637 non-null  float64
 4   atemp       16637 non-null  float64
 5   hum         16637 non-null  float64
 6   windspeed   16637 non-null  float64
 7   cnt         16637 non-null  int64
dtypes: float64(4), int64(3), object(1)
memory usage: 1.0+ MB

### Data Types

Er zijn verschillende data types aanwezig:
- **Object:** date_hour
- **Integer:** holiday, weathersit en cnt
- **Float:** temp, atemp, hum en windspeed

In [12]:
display(train.describe())

,holiday,weathersit,temp,atemp,hum,windspeed,cnt
count,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000
mean,0.028671,1.415580,0.504745,0.482608,0.624756,0.190310,190.477009
std,0.166885,0.637298,0.192369,0.171557,0.193227,0.121915,182.026755
min,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,1.000000,0.340000,0.333300,0.470000,0.104500,41.000000
50%,0.000000,1.000000,0.520000,0.500000,0.620000,0.194000,143.000000
75%,0.000000,2.000000,0.660000,0.621200,0.780000,0.253700,282.000000
max,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,977.000000

### Controle op Ontbrekende Waarden

In [18]:
print(train.isnull().sum())

date_hour     0
holiday       0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
cnt           0
dtype: int64

Alle kolommen in deze dataset hebben geen ontbrekende waarden. Dit betekent dat er geen ontbrekende data hoeft te worden aangevuld of verwijderd, wat de analyse eenvoudiger maakt.

### Vorm van de gegevens:

In [19]:
print(train.shape)

(16637, 8)

De dataset bevat 8 kolommen (variabelen) en 16.637 rijen.

### Kolommen beschrijven:

- **date_hour:** Datum en tijdstip.
- **holiday:** Geeft aan of de datum een feestdag is (0 = geen feestdag, 1 = feestdag).
- **weathersit:**  De beschrijving van de weersomstandigheden op een schaal van 1 tot 4.
- **temp:** De normale temperatuur
- **atemp:** 
- **hum:** Luchtvochtigheid
- **windspeed:** Windsnelheid
- **cnt:**

### Het meetniveau voor elke kolom:

- **date_hour:** Interval 
- **holiday:** Nominaal (binaire categorische variabele: 0 = geen feestdag, 1 = feestdag).
- **weathersit:** Ordinaal (categorieën hebben een volgorde).
- **temp:** Interval (continue variabele).
- **atemp:** Interval (continue variabele).
- **hum:** Interval (continue variabele).
- **windspeed:** Interval (continue variabele).
- **cnt:** Ratio