# Machine Learning Portfolio 1

|Name|Github|Kaggle|
|----|------|------|
|Henry Lau|HenryLau08|Henry Lau|
|Mohamed Belaachir|mobelaachir|mobelaachir|
|...|...|...|
|...|...|...|

## Table of Contents
- [Data Overview](#data-overview)
- [Exploratory Data Analysis](#exploratory-data-analysis)
- [Modeling](#modeling)
    - [K-Nearest Neighbours](#k-nearest-neighbors)
    - [Logistic Regression](#logistic-regression)
    - [SVM](#svm)
    - [Decision Tree](#decision-tree)
    - [Ensembles](#ensembles)
        - [Random Forest](#random-forest)
        - [Gradient Boosted Decision Trees](#gradient-boosted-decision-trees)
        - [XGBoost](#xgboost)
    - [Self-Assembled Ensemble](#self-assembled-ensemble)
- [Results](#results)
- [Conclusion & Advice](#conclusion--advice)
- [Sources](#sources)

In [1]:
# Libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
# import xgboost as xgb

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## Data Overview

In [3]:
print('Train Data')
display(train.head(10))
print('Test Data')
display(test.head(10))

Train Data

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,52709,30.0,0,0,63.60,33.3,False,True,False,True,...,False,True,False,False,True,False,False,False,True,0
1,72295,75.0,1,0,215.17,48.0,True,False,False,False,...,False,False,True,False,True,False,False,True,False,0
2,26451,15.0,0,0,135.22,19.0,False,True,False,True,...,False,True,False,False,True,False,False,True,False,0
3,65210,47.0,0,0,64.89,28.2,False,True,False,False,...,False,False,True,False,False,True,False,True,False,0
4,69299,49.0,0,0,222.34,28.8,False,True,False,False,...,False,False,True,False,True,False,True,False,False,0
5,12802,68.0,1,0,80.45,28.8,True,False,False,False,...,False,False,False,False,True,False,False,False,False,0
6,67237,23.0,0,0,65.44,31.1,True,False,False,True,...,False,True,False,False,False,True,False,True,False,0
7,41946,41.0,0,0,73.86,27.2,True,False,False,False,...,False,True,False,False,False,True,False,False,True,0
8,30324,79.0,0,0,76.47,33.2,True,False,False,False,...,False,True,False,False,True,False,True,False,False,0
9,56696,65.0,0,0,91.03,24.7,False,True,False,True,...,False,True,False,False,True,False,False,True,False,0

Test Data

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,32840,52.0,0,0,97.32,21.8,True,False,False,False,...,False,False,True,False,False,False,True,False,False,True
1,45158,30.0,0,0,227.99,47.7,True,False,False,False,...,False,False,True,False,False,False,True,False,False,True
2,56105,26.0,0,0,113.28,24.4,True,False,False,False,...,False,False,True,False,False,False,True,False,True,False
3,3112,24.0,0,0,79.15,21.0,True,False,False,False,...,False,False,True,False,False,False,True,True,False,False
4,35224,63.0,0,0,89.69,33.3,True,False,False,False,...,False,False,True,False,False,False,True,False,True,False
5,33344,43.0,0,1,96.93,29.6,False,True,False,False,...,False,False,False,True,False,False,True,False,False,True
6,35699,16.0,0,0,82.25,30.9,True,False,False,True,...,False,False,True,False,False,True,False,False,True,False
7,48440,38.0,0,0,78.90,25.3,True,False,False,True,...,True,False,False,False,False,True,False,False,True,False
8,32256,23.0,0,0,72.60,31.2,True,False,False,True,...,False,False,True,False,False,True,False,False,True,False
9,18285,6.0,0,0,95.45,17.0,True,False,False,True,...,False,False,False,False,True,True,False,False,False,False

## Exploratory Data Analysis

## Modeling

### K-Nearest Neighbors

**UITLEG**

In [7]:
import numpy as np
from sklearn.preprocessing import StandardScaler


train["avg_glucose_level_log"] = np.log1p(train["avg_glucose_level"])
train["bmi_log"] = np.log1p(train["bmi"])

data_transformed = train.drop(columns=["avg_glucose_level", "bmi"])

X = data_transformed.drop(columns=["id", "stroke"])
y = data_transformed["stroke"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled.shape, X_test_scaled.shape, y_train.shape, y_test.shape

((26840, 20), (6710, 20), (26840,), (6710,))

In [8]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_train_balanced, y_train_balanced = smote.fit_resample(X_train_scaled, y_train)

print("Class distribution after SMOTE:\n" , y_train_balanced.value_counts(normalize=True))

Class distribution after SMOTE:
 stroke
0    0.5
1    0.5
Name: proportion, dtype: float64

In [11]:
from sklearn.metrics import confusion_matrix, classification_report

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_balanced, y_train_balanced)

y_pred = knn.predict(X_test_scaled)

print("Confusion Matrix:\n",confusion_matrix(y_test, y_pred))

print("\nClassification Report:\n",classification_report(y_test, y_pred))

Confusion Matrix:
 [[6008  592]
 [  90   20]]

Classification Report:
               precision    recall  f1-score   support

           0       0.99      0.91      0.95      6600
           1       0.03      0.18      0.06       110

    accuracy                           0.90      6710
   macro avg       0.51      0.55      0.50      6710
weighted avg       0.97      0.90      0.93      6710

### Logistic Regression

**UITLEG**

### SVM

**UITLEG**

### Decision Tree

**UITLEG**

### Ensembles

**UITLEG**

#### Random Forest

#### Gradient Boosted Decision Trees

#### XGBoost

### Self-assembled ensemble

## Results

|Model|f1-score|kaggle score|
|-----|--------|------------|
||||
||||
||||
||||
||||

## Conclusion & Advice

## Sources