# Machine Learning Portfolio 1

|Name|Github|Kaggle|
|----|------|------|
|Henry Lau|HenryLau08|Henry Lau|
|Mohamed Belaachir|mobelaachir|mobelaachir|
|...|...|...|
|...|...|...|

## Table of Contents
- [Data Overview](#data-overview)
- [Exploratory Data Analysis](#exploratory-data-analysis)
- [Modeling](#modeling)
    - [K-Nearest Neighbours](#k-nearest-neighbors)
    - [Logistic Regression](#logistic-regression)
    - [SVM](#svm)
    - [Decision Tree](#decision-tree)
    - [Ensembles](#ensembles)
        - [Random Forest](#random-forest)
        - [Gradient Boosted Decision Trees](#gradient-boosted-decision-trees)
        - [XGBoost](#xgboost)
    - [Self-Assembled Ensemble](#self-assembled-ensemble)
- [Results](#results)
- [Conclusion & Advice](#conclusion--advice)
- [Sources](#sources)

In [1]:
# Libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import xgboost as xgb

In [2]:
pd.set_option('display.max_columns', None)

train = pd.read_csv('train.csv', index_col='id').sort_index()
test = pd.read_csv('test.csv', index_col='id').sort_index()

## Data Overview

In [3]:
print('Train Data')
display(train.head(10))
print('Test Data')
display(test.head(10))

Train Data

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
id,,,,,,,,,,,,,,,,,,,,,
1,80.0,0,1,67.45,25.6,True,False,False,False,True,False,False,False,True,False,False,True,False,True,False,0
7,44.0,0,0,222.75,19.6,True,False,False,False,True,False,False,True,False,False,False,True,False,True,False,0
8,79.0,0,0,99.23,25.1,True,False,False,False,True,False,False,True,False,False,False,True,False,False,False,0
9,44.0,0,0,125.44,35.5,False,True,False,False,True,False,False,True,False,False,True,False,False,True,False,0
10,34.0,0,0,89.11,28.0,True,False,False,False,True,False,False,True,False,False,False,True,False,True,False,0
20,36.0,0,0,89.79,27.3,False,True,False,False,True,True,False,False,False,False,False,True,False,False,True,0
22,5.0,0,0,100.81,20.6,False,True,False,True,False,False,False,False,False,True,True,False,False,False,False,0
23,68.0,0,0,75.91,21.8,True,False,False,False,True,False,False,True,False,False,True,False,False,True,False,0
24,72.0,0,1,113.65,27.4,True,False,False,False,True,False,False,False,True,False,True,False,True,False,False,0
29,44.0,1,0,117.10,26.9,False,True,False,False,True,False,False,True,False,False,True,False,False,True,False,0

Test Data

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
id,,,,,,,,,,,,,,,,,,,,
4,37.0,0,0,82.15,24.3,True,False,False,False,True,False,False,True,False,False,True,False,False,False,True
12,56.0,0,0,102.30,54.9,True,False,False,False,True,False,False,True,False,False,True,False,True,False,False
14,67.0,0,0,111.04,25.1,True,False,False,False,True,False,False,True,False,False,False,True,False,True,False
25,4.0,0,0,71.90,14.1,True,False,False,True,False,False,False,False,False,True,False,True,False,False,False
66,58.0,0,1,96.48,24.0,True,False,False,False,True,False,False,True,False,False,True,False,False,False,True
71,7.0,0,0,94.41,16.8,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
72,3.0,0,0,93.74,17.7,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
91,42.0,0,0,98.53,18.5,True,False,False,True,False,False,False,True,False,False,False,True,False,True,False
113,35.0,0,0,85.59,28.0,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False
114,47.0,0,0,85.30,22.6,True,False,False,False,True,True,False,False,False,False,False,True,False,True,False

## Exploratory Data Analysis

In [4]:
display(train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33550 entries, 1 to 72943
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             33550 non-null  float64
 1   hypertension                    33550 non-null  int64
 2   heart_disease                   33550 non-null  int64
 3   avg_glucose_level               33550 non-null  float64
 4   bmi                             33550 non-null  float64
 5   gender_Female                   33550 non-null  bool
 6   gender_Male                     33550 non-null  bool
 7   gender_Other                    33550 non-null  bool
 8   ever_married_No                 33550 non-null  bool
 9   ever_married_Yes                33550 non-null  bool
 10  work_type_Govt_job              33550 non-null  bool
 11  work_type_Never_worked          33550 non-null  bool
 12  work_type_Private               33550 non-null  bool
 13  work_type_Self-employed         33550 non-null  bool
 14  work_type_children              33550 non-null  bool
 15  Residence_type_Rural            33550 non-null  bool
 16  Residence_type_Urban            33550 non-null  bool
 17  smoking_status_formerly smoked  33550 non-null  bool
 18  smoking_status_never smoked     33550 non-null  bool
 19  smoking_status_smokes           33550 non-null  bool
 20  stroke                          33550 non-null  int64
dtypes: bool(15), float64(3), int64(3)
memory usage: 2.3 MB

None

In [5]:
train[train.select_dtypes('bool').columns] = train[train.select_dtypes('bool').columns].astype(int)

In [6]:
display(train.info(), train.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33550 entries, 1 to 72943
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             33550 non-null  float64
 1   hypertension                    33550 non-null  int64
 2   heart_disease                   33550 non-null  int64
 3   avg_glucose_level               33550 non-null  float64
 4   bmi                             33550 non-null  float64
 5   gender_Female                   33550 non-null  int32
 6   gender_Male                     33550 non-null  int32
 7   gender_Other                    33550 non-null  int32
 8   ever_married_No                 33550 non-null  int32
 9   ever_married_Yes                33550 non-null  int32
 10  work_type_Govt_job              33550 non-null  int32
 11  work_type_Never_worked          33550 non-null  int32
 12  work_type_Private               33550 non-null  int32
 13  work_type_Self-employed         33550 non-null  int32
 14  work_type_children              33550 non-null  int32
 15  Residence_type_Rural            33550 non-null  int32
 16  Residence_type_Urban            33550 non-null  int32
 17  smoking_status_formerly smoked  33550 non-null  int32
 18  smoking_status_never smoked     33550 non-null  int32
 19  smoking_status_smokes           33550 non-null  int32
 20  stroke                          33550 non-null  int64
dtypes: float64(3), int32(15), int64(3)
memory usage: 3.7 MB

None

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
count,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000,33550.000000
mean,41.815312,0.088137,0.043040,103.587081,28.601216,0.597079,0.402742,0.000179,0.361371,0.638629,0.123875,0.004203,0.574635,0.152787,0.144501,0.499970,0.500030,0.168733,0.375618,0.148048,0.015410
std,22.477423,0.283498,0.202951,42.127396,7.782248,0.490492,0.490457,0.013372,0.480405,0.480405,0.329444,0.064693,0.494406,0.359787,0.351602,0.500007,0.500007,0.374522,0.484289,0.355153,0.123178
min,0.080000,0.000000,0.000000,55.010000,10.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,0.000000,0.000000,77.460000,23.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43.000000,0.000000,0.000000,91.320000,27.700000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,59.000000,0.000000,0.000000,111.437500,32.800000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,82.000000,1.000000,1.000000,281.590000,97.600000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
# Nu wordt de data genormaliseerd.
scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(train)

# Zet de geschaalde waarden terug in een DataFrame
scaled_df = pd.DataFrame(scaled_features, columns=train.columns)
scaled_df.drop(columns='id')

KeyError: "['id'] not found in axis"

In [11]:
select_cols = ['age','heart_disease','hypertension','avg_glucose_level_encoded','bmi_encoded']


X = train[select_cols]
y = train['stroke']

KeyError: "['avg_glucose_level_encoded', 'bmi_encoded'] not in index"

## Modeling

### K-Nearest Neighbors

**UITLEG**

### Logistic Regression

**UITLEG**

### SVM

**UITLEG**

### Decision Tree

**UITLEG**

### Ensembles

**UITLEG**

#### Random Forest

#### Gradient Boosted Decision Trees

#### XGBoost

### Self-assembled ensemble

## Results

|Model|f1-score|kaggle score|
|-----|--------|------------|
||||
||||
||||
||||
||||

## Conclusion & Advice

## Sources